<div id="top">
    <div id="top">
        <div id="topRed" class="hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="topDangNhap" style="float:right;">
                                    <div class="textWhite">
                                        <a class="fa fa-user aDangNhap" href="#" data-toggle="modal" data-target="#formlogin">
                                            Đăng nhập</a>
                                    </div>
                                </div>
                                <div class="topDangNhap" style="float:right;">
                                    <div class="textWhite">
                                        <a class="gioHang" href="cart.html">Giỏ hàng (<b>0</b> sản phẩm)</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row topLogo">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <div id="logo">
                                <a href="index.html">
                                    <img title="LẮP ĐẶT CAMERA QUAN SÁT GIÁ RẺ" src="public/images/ui_images/logo.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <img style="width:100%;margin-top:25px;" src="public/images/ui_images/promise.png">
                        </div>
                        <div class="col-xs-12 col-md-3">
                            <div class="hotline">
                                <div class="name">Tư vấn lắp đặt camera</div>
                                <div class="clear"></div>
                                <div class="phone">
                                    <a href="tel:0328826810">0328826810</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Menu -->
        <div class="clear"></div>
        <div class="modal fade" id="formlogin" role="dialog" style="display: none;">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span class="fa fa-remove"></span>
                        </button>
                        <ul class="nav nav-tabs ">
                            <li class="active"><a id="tabLogin" data-toggle="tab" href="#login-form"> Đăng nhập
                                    <span class="fa fa-user"></span></a></li>
                            <li><a id="tabRegister" data-toggle="tab" href="#registration-form"> Đăng kí <span class="fa fa-pencil"></span></a></li>
                        </ul>
                    </div>
                    <div class="modal-body">
                        <div class="tab-content">
                            <div id="login-form" class="tab-pane fade in active">
                                <form id="myFormLogin">

                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" placeholder="Enter email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Mật khẩu:</label>
                                        <input type="password" class="form-control" placeholder="Enter password" name="password">
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="remember"> Ghi nhớ</label>
                                            <a data-toggle="tab" href="#forgot-form" for="pwd">Quên mật khẩu</a>
                                        </div>
                                    </div>
                                    <button type="submit" id="btnLogin" class="btn btn-default">Đăng nhập</button>
                                </form>
                            </div>
                            <div id="forgot-form" class="tab-pane fade in fade">
                                <form>
                                    <div class="form-group">
                                        <label for="email">Email:</label>
                                        <input type="email" class="form-control" placeholder="Enter email" name="email">
                                    </div>
                                    <button type="submit" class="btn btn-default">Xác nhận</button>
                                </form>
                            </div>
                            <div id="registration-form" class="tab-pane fade">
                                <form id="myForm">
                                    <div class="form-group">
                                        <label for="name">Tên bạn:</label>
                                        <input type="text" class="form-control" placeholder="Enter your name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="ewemail">Email:</label>
                                        <input type="email" class="form-control" placeholder="Enter new email" name="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Mật khẩu:</label>
                                        <input type="password" class="form-control" placeholder="New password" name="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordAgain">Nhập lại Mật khẩu:</label>
                                        <input type="password" class="form-control" placeholder="New password" name="passwordAgain">
                                    </div>
                                    <div class="form-group">
                                        <label for="numberPhone">Số điện thoại:</label>
                                        <input type="text" class="form-control" placeholder="Số điện thoại" name="numberPhone">
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Địa chỉ:</label>
                                        <input type="text" class="form-control" placeholder="Địa chỉ" name="address">
                                    </div>
                                    <div class="form-group">
                                        <label for="id_tp">Thành phố:</label>
                                        <select class="form-control" id="sel1" name="id_tp">
                                            <option value="1">Hà nội</option>
                                            <option value="2">TP. Hồ Chí Minh</option>
                                            <option value="3">Hòa Bình</option>
                                            <option value="4">Hà Giang</option>
                                            <option value="5">Lào Cai</option>
                                            <option value="6">Sơn La</option>
                                            <option value="7">Điện Biên</option>
                                            <option value="8">Lạng Sơn</option>
                                            <option value="9">Cao Bằng</option>
                                            <option value="10">Tuyên Quang</option>
                                            <option value="11">Yên Bái</option>
                                            <option value="12">Ninh Bình</option>
                                            <option value="13">TP. Hải Phòng</option>
                                            <option value="14">Quảng Ninh</option>
                                            <option value="15">Hà Tây</option>
                                            <option value="16">Thái Bình</option>
                                            <option value="17">Thanh Hóa</option>
                                            <option value="18">Nghệ An</option>
                                            <option value="19">Hà Tĩnh</option>
                                            <option value="20">Đắc Lắc</option>
                                            <option value="21">Quảng Bình</option>
                                            <option value="22">Quảng Trị</option>
                                            <option value="23">TP. Huế</option>
                                            <option value="24">Quảng Ngãi</option>
                                            <option value="25">Bình Định</option>
                                            <option value="26">Phú Yên</option>
                                            <option value="27">Khánh Hòa</option>
                                            <option value="28">Gia Lai</option>
                                            <option value="29">Đồng Nai</option>
                                            <option value="30">Bình Thuận</option>
                                            <option value="31">Lâm Đồng</option>
                                            <option value="32">Bà Rịa - Vũng Tàu</option>
                                            <option value="33">Tây Ninh</option>
                                            <option value="34">Đồng Tháp</option>
                                            <option value="35">Ninh Thuận</option>
                                            <option value="36">Vĩnh Long</option>
                                            <option value="37">TP. Cần Thơ</option>
                                            <option value="38">Long An</option>
                                            <option value="39">Tiền Giang</option>
                                            <option value="40">Trà Vinh</option>
                                            <option value="41">Bến Tre</option>
                                            <option value="42">An Giang</option>
                                            <option value="43">Kiên Giang</option>
                                            <option value="44">Lai Châu</option>
                                            <option value="45">Sóc Trăng</option>
                                            <option value="46">Đắc Nông</option>
                                            <option value="47">Phú Thọ</option>
                                            <option value="48">Vĩnh Phúc</option>
                                            <option value="49">Bắc Giang</option>
                                            <option value="50">Thái Nguyên</option>
                                            <option value="51">Bắc Cạn</option>
                                            <option value="52">Hải Dương</option>
                                            <option value="53">Hưng Yên</option>
                                            <option value="54">Nam Định</option>
                                            <option value="55">Hà Nam</option>
                                            <option value="56">Quảng Nam</option>
                                            <option value="57">TP. Đà nẵng</option>
                                            <option value="58">Bình Dương</option>
                                            <option value="59">Bình Phước</option>
                                            <option value="60">Cà Mau</option>
                                            <option value="61">Bạc Liêu</option>
                                            <option value="62">Bắc Ninh</option>
                                        </select>
                                    </div>
                                    <button type="submit" id="btnReg" class="btn btn-default">Đăng kí</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-md-3 col-lg-3 hidden-xs hidden-sm" style="padding-right:0;">
                        <div id="listDanhMuc">
                            <div class="dauDanhMuc">
                                <span>Danh mục sản phẩm<i class="fa fa-chevron-circle-down"></i></span>

                            </div>
                            <ul class="noiDungDanhMuc" style="height: 401px; width: 100%">
                                <ul>
                                    <li><a href="#"><img alt="Camera trọn bộ" src="public/images/danh-muc-san-pham/lap-dat-camera-tron-bo.png"><span
                                                class="nameDanhMuc">Camera trọn bộ </span> <i class="fa fa-chevron-right hidden-md"></i></a>
                                        <ul>
                                            <li><a href="#"><span class="nameDanhMuc">Trọn
                                                        bộ camera giá rẻ</span></a>
                                                <ul>
                                                    <li><a><span class="nameDanhMuc">Trọn bộ 1 Camera
                                                                giá rẻ</span></a>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li><a href="#"><span class="nameDanhMuc">Trọn bộ 2 camera
                                                                giá rẻ</span></a>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li><a href="#"><span class="nameDanhMuc">Trọn bộ 3 Camera
                                                                giá rẻ</span></a>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li><a href="#"><span class="nameDanhMuc">Trọn bộ 4 Camera
                                                                giá rẻ</span></a>
                                                        <div class="clear"></div>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                            </li>
                                            <li><a href="#"><span class="nameDanhMuc">Trọn
                                                        bộ camera HD</span></a>
                                                <ul>
                                                    <li><a href="#"><span class="nameDanhMuc">Trọn
                                                                bộ 1 Camera HD</span></a>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li><a href="#"><span class="nameDanhMuc">Trọn
                                                                bộ 2 Camera HD</span></a>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li><a href="#1"><span class="nameDanhMuc">Trọn
                                                                bộ 3 Camera HD</span></a>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li><a href="#1"><span class="nameDanhMuc">Trọn
                                                                bộ 4 Camera HD</span></a>
                                                        <div class="clear"></div>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                            </li>
                                            <li><a href="#1"><span class="nameDanhMuc">Camera
                                                        Nhập khẩu</span></a>
                                                <ul>
                                                    <li><a href="#1"><span class="nameDanhMuc">Bộ 2 Camera
                                                                HIKVISION</span></a>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li><a href="#1"><span class="nameDanhMuc">Lắp 1 Camera
                                                                HIKVISION</span></a>
                                                        <div class="clear"></div>
                                                    </li>
                                                    <li><a href="#1"><span class="nameDanhMuc">Bộ camera KCE HÀN
                                                                QUỐC</span></a>
                                                        <div class="clear"></div>
                                                    </li>
                                                </ul>
                                                <div class="clear"></div>
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                    </li>
                                    <li><a href="#2"><img alt="Camera giám sát " src="public/images/danh-muc-san-pham/camera-giam-sat.png"><span
                                                class="nameDanhMuc">Camera giám sát </span><i class="fa fa-chevron-right hidden-md"></i></a>
                                        <div class="clear"></div>
                                    </li>
                                    <li><a href="#1"><img alt="Đầu ghi hình camera " src="public/images/danh-muc-san-pham/dau-ghi-hinh-camera-quan-sat.png"><span
                                                class="nameDanhMuc">Đầu ghi hình camera </span><i class="fa fa-chevron-right hidden-md"></i></a>
                                        <div class="clear"></div>
                                    </li>
                                    <li><a href="#1"><img alt="Phụ kiện camera " src="public/images/danh-muc-san-pham/phu-kien-camera.png"><span
                                                class="nameDanhMuc">Phụ kiện camera </span><i class="fa fa-chevron-right hidden-md"></i></a>

                                        <div class="clear"></div>
                                    </li>
                                    <li><a href="#1"><img alt="Thiết bị an ninh " src="public/images/danh-muc-san-pham/camera-thiet-bi-an-ninh.png"><span
                                                class="nameDanhMuc">Thiết bị an ninh </span><i class="fa fa-chevron-right hidden-md"></i></a>

                                        <div class="clear"></div>
                                    </li>
                                    <li><a href="#1"><img alt="Máy chấm công " src="public/images/danh-muc-san-pham/may-cham-cong-gia-re.png"><span
                                                class="nameDanhMuc">Máy chấm công </span><i class="fa fa-chevron-right hidden-md"></i></a>

                                        <div class="clear"></div>
                                    </li>
                                    <li><a href="#/1"><img alt="Tổng đài - Bộ đàm " src="public/images/danh-muc-san-pham/78-32.png"><span
                                                class="nameDanhMuc">Tổng đài - Bộ đàm </span><i class="fa fa-chevron-right hidden-md"></i></a>

                                        <div class="clear"></div>
                                    </li>
                                    <li><a href="#/1"><img alt="Thiết bị văn phòng " src="public/images/danh-muc-san-pham/thiet-bi-van-phong.png"><span
                                                class="nameDanhMuc">Thiết bị văn phòng </span><i class="fa fa-chevron-right hidden-md"></i></a>
                                        <div class="clear"></div>
                                    </li>
                                </ul>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-9">
                        <div class="row">
                            <div class="col-xs-12 col-lg-8" style="padding:0;">
                                <div id="timKiem">
                                    <form>
                                        <input type="text" value="" id="nutTimKiem" class="inputTimKiem" placeholder="Tìm kiếm sản phẩm ...">
                                        <div class="clear"></div>
                                        <input type="submit" value="Tìm kiếm" id="buttonEnter" class="buttonEnter">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 hidden-xs hidden-sm hidden-md" style="padding-left:0;">
                                <button type="button" class="btn btn-danger button-support" data-toggle="modal"
                                    data-target="#supportonlineModal"><img src="./public/images/ui_images/yahoo-smile.png">&nbsp;Hỗ
                                    trợ trực tuyến</button>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
</div> <!-- Top end here -->